<div class="wrapper">

    <!-- Sidebar -->
    <div class="sidebar" [class.collapsed]="isCollapsed">

        <!-- Logo -->
        <div class="logo-area">
            <button class="toggle-btn" (click)="toggleSidebar()">
                <i class="bi bi-list"></i>
            </button>

            <h4 class="logo-text" *ngIf="!isCollapsed">
                AdminPro
            </h4>
        </div>

        <!-- Navigation -->
        <ul class="nav flex-column">

            <li class="nav-item">
                <a routerLink="/dashboard"
                   routerLinkActive="active"
                   class="nav-link">
                    <i class="bi bi-speedometer2"></i>
                    <span *ngIf="!isCollapsed">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="/new-employee/0"
                   routerLinkActive="active"
                   class="nav-link">
                    <i class="bi bi-person-plus-fill"></i>
                    <span *ngIf="!isCollapsed">New Employee</span>
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="/employees"
                   routerLinkActive="active"
                   class="nav-link">
                    <i class="bi bi-people-fill"></i>
                    <span *ngIf="!isCollapsed">Employees</span>
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="/department"
                   routerLinkActive="active"
                   class="nav-link">
                    <i class="bi bi-building"></i>
                    <span *ngIf="!isCollapsed">Departments</span>
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="/designation"
                   routerLinkActive="active"
                   class="nav-link">
                    <i class="bi bi-person-badge-fill"></i>
                    <span *ngIf="!isCollapsed">Designation</span>
                </a>
            </li>

        </ul>

        <!-- Logout -->
        <div class="logout-section">

            <button class="logout-btn" (click)="logout()">

                <i class="bi bi-box-arrow-right"></i>

                <span *ngIf="!isCollapsed">
                    Logout
                </span>

            </button>

        </div>

    </div>

    <!-- Main Content -->

    <div class="content" [class.expand]="isCollapsed">

        <router-outlet></router-outlet>

    </div>

</div>